body{
    margin: 0;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #350B0F;
    color: #fff;
    height: 60px;
    padding-left: 28px;
}